<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <div class="form-group">
            <a href="/recipies" button type="button" class="btn btn-primary btn-light btn-lg">Home</a>
            <a href="/recipies/soup" button type="button" class="btn btn-secondary">Soup</a>
            <a href="/recipies/mainDish" button type="button" class="btn btn-secondary  ">Main Dish</a>
            <a href="/recipies/salad" button type="button" class="btn btn-secondary ">Salad</a>
            <a href="/recipies/dessert" button type="button" class="btn btn-secondary ">Dessert</a>
            <a href="/recipies/misc" button type="button" class="btn btn-secondary ">Miscellaneous</a>
            <a href="/recipies/add" class="btn btn-primary mr-sm-2">Add Recepies</a>
            <a href="/recipies/about-me" class="btn btn-secondary my-2 my-sm-0">About Me</a>

        </div>
    </div>
</header>
<h1>Despre mine</h1>
<div class="wprm-recipe-image wprm-block-image-normal">
<img src="https://i.ibb.co/jbXYzcY/43652047-1907674985965745-2683208447977062400-n.jpg" alt="O imagine" class="bd-placeholder-img card-img-top" style="width:30%;height:300px">
</div>
Numele meu este Lirca Vlad am 26 de ani. Sunt student si imi place sa lucrez pe calculator. Studiez la facultatea de matematica-informatica si sunt din Tirgu-Mures
</thead>

</body>
</html>